__pycache__/
*.ipynb_checkpoints/
output_data/MMS*
*txt
*log
!*sw_tints.txt
sw_tints/
output_data_new_2/
output_data_new/
output_data/
/figures/examples
startup.m
.vscode/
sw_tints_2026/compiled_sw_tints.csv
.gitignore
sw_tints_2026/used_regionfiles.csv
sw_tints_2026/failed_sw_tints.csv
